<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.videoboard.boot.repository.FileDAO">
    <insert id="insertFile" parameterType="FileVO" useGeneratedKeys="true" keyProperty="fno" keyColumn="fno">
    	insert into file (uuid, save_dir, file_name, file_ext, file_type, vno, file_size)
		values (#{uuid}, #{saveDir}, #{fileName}, #{fileExt}, #{fileType}, #{vno}, #{fileSize})	
	</insert>
	
    <insert id="insertImage" parameterType="FileVO" useGeneratedKeys="true" keyProperty="fno" keyColumn="fno">
    	insert into file (uuid, save_dir, file_name, file_ext, file_type, bno, file_size)
		values (#{uuid}, #{saveDir}, #{fileName}, #{fileExt}, #{fileType}, #{bno}, #{fileSize})	
	</insert>
	
	<select id="selectFile" parameterType="long" resultType="FileVO">
		select * from file where vno = #{vno} and is_delete = 'n'
	</select>
	
	<select id="selectImageFile" parameterType="long" resultType="FileVO">
		select * from file where bno = #{bno} and is_delete = 'n'
	</select>
	
	<update id="deleteFile" parameterType="long">
		update file set is_delete = 'y' where vno = #{vno}
	</update>
	
	<update id="posterCreated" parameterType="long">
		update file set poster = 'y' where fno = #{fno}
	</update>
	
	<select id="selectDeletedFiles" resultType="FileVO">
		select * from file where is_delete = 'y'
	</select>
	
	<delete id="deleteFileData">
		delete from file where is_delete = 'y'
	</delete>
	
</mapper>