<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="wrapper light-wrapper">
      <div class="container pt-60 pb-60">
      
        <div class="row">
          <div class="col-lg-4 offset-lg-4 pt-20 pb-20 text-center shadow br-15 bg-white">
        	<h2 class="section-title mb-40 text-center">Register</h2>
			<form action="/member/login" method="POST" id="login">
				<span class="duple" id="emailInfo" hidden="true">dd</span>
				<input type="email" class="mb-20 w-80" id="email" name="email" placeholder="email" required="required"> <br>
				<span class="duple" id="nameInfo" hidden="true">dd</span>
				<input type="text" class="mb-20 w-80" id="username" name="username" placeholder="username" required="required">
				<input type="password" class="mb-20 w-80" id="pwd" name="pwd" placeholder="password" required="required"> <br>
				<button class="btn btn-pastel-aqua mb-20 w-80" type="button" id="enroll">Enroll</button> <br>
			</form>
			<div class="w-80 m-auto mb-30">
			  <hr class=" p-0 m-0" />
			</div>
			Have an account already? <a class="" href="/member/login">Login &rarr;</a>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
    </div>
    
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript" src="/js/member/register.js"></script>
</th:block>

</html>
