<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="wrapper light-wrapper">
      <div class="container inner">
        <h2 class="section-title mb-40 text-center">게시물 수정</h2>
        <input type="hidden" th:value="${bno}" id="bno">
        <div class="row mb-50">
          <div class="col-lg-8 offset-lg-2">
          	<form action="" id="modForm">
          	  Title : <input type="text" class="mb-20" id="title" name="title"> <br>
          	  username : <input type="text" id="username" class="mb-20" name="username" readonly> <br>
          	  content : <textarea id="content" class="mb-40"></textarea> <br>
          	  <a class="btn btn-pastel-lavender" id="back">뒤로가기</a>
          	  <button class="btn btn-pastel" type="submit" id="Btn">수정</button>
          	</form>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript">
		let curPage = [[${curPage}]];
	</script>
	<script type="text/javascript" src="/js/boardone/modify.js"></script>
</th:block>

</html>
