<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>게시판</title>
            
            <!-- bundle CSS -->
            <link rel="stylesheet" type="text/css" href="/style/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/style/css/plugins.css">
			<link rel="stylesheet" type="text/css" href="/style/css/color/lavender.css">
			<link rel="stylesheet" type="text/css" href="/style/revolution/css/settings.css">
			<link rel="stylesheet" type="text/css" href="/style/revolution/css/layers.css">
			<link rel="stylesheet" type="text/css" href="/style/revolution/css/navigation.css">
			<link rel="stylesheet" type="text/css" href="/style/css/font/font4.css">
			<link rel="stylesheet" type="text/css" href="/style/style.css">
			<!-- <link rel="stylesheet" type="text/css" href="/style/type/icons.css"> -->
			
			<!-- video.js CSS -->
			<link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
			<link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
			<link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
			
			<!-- customized CSS -->
			<link rel="stylesheet" type="text/css" href="/css/common/common.css">
			<link rel="stylesheet" type="text/css" href="/css/common/loading-bar.css">
        </head>
    </th:block>
</html>